@using LNHSApp.Areas.Admin.Models.TablesViewModels;
@model BlankHockeyTableViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Editing Hockey Table</h2>

@using (Html.BeginForm("Edit", "Tables", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.Id)

    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                @Html.LabelFor(m => m.Code)
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Code)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                @Html.LabelFor(m => m.Model)
                @Html.TextBoxFor(m => m.Model, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Model)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                @Html.LabelFor(m => m.Condition)
                @Html.DropDownListFor(m => m.Condition, new SelectList(ViewBag.TableConditionsList, "Value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Condition)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                @Html.LabelFor(m => m.OwnerId)
                @Html.DropDownListFor(m => m.OwnerId, new SelectList(ViewBag.UsersList, "Value", "Text"), new { @class = "form-control selectpicker", data_live_search = "true" })
                @Html.ValidationMessageFor(m => m.OwnerId)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}
